
<div class="flex h-screen bg-base-200 font-sans">
  <app-sidebar [isOpen]="isSidebarOpen()"></app-sidebar>
  
  <div class="flex-1 flex flex-col overflow-hidden">
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
    
    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-base-100">
      <div class="container mx-auto px-6 py-8">
        <!-- The main content will be rendered here based on the route. -->
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>